.App {
  text-align: center;
  background-color: #282c34;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-flow: column;
}

.App__logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App__logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App__link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App__item-list {
  overflow-y: auto;
}

.App__item {
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  color: white;
  font-weight: bold;
  border: 1px solid white
}

.App__button {
  padding: 10px 40px;
  margin: 20px auto;
}